.full_container {
  min-height: 100vh;
}
.selected_coffee_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  max-width: 1200px;
  margin: 0 auto;
}
.coffeeCupCard {
  margin: 10px;
}
.coffeeCupBtn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.coffeeCupImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 10px;
}
