.selectedCoffeeCup {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
.selectedCoffeeCupImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 6px;
}
.selected_cup_cart {
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 6px;
  margin: 8px;
  cursor: pointer;
  background-color: #dda15e;
  font-size: 14px;
  font-weight: bold;
}
.selected_cup_cart:hover {
  background-color: #bc6c25;
}
