.booking_section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  flex-direction: column;
  background-color: #000;
  position: relative;
  min-height: 100vh;
  width: 100%;
}
.booking_section::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url("/resto-bg1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
}
/* img container */
.img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @media screen and (max-width: 494px) {
    flex-direction: column;
  }
}

/* booked container */
.booked_img_container {
  position: relative;
  max-width: 400px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  margin: 10px;
  border-radius: 12px;
}

.booked_img {
  width: 100%;
  height: auto;
}
.table_dish {
  width: 60px;
  position: absolute;
  bottom: 43%;
  left: 33%;
  transform: translateX(-50%);
  z-index: 1;
}
.table_drink {
  width: 60px;
  position: absolute;
  bottom: 43%;
  left: 63%;
  transform: translateX(-50%);
  z-index: 1;
}
.book_table_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.book_table_btn {
  padding: 8px;
  border: none;
  border-radius: 12px;
  margin: 5px;
  cursor: pointer;
  background-color: aqua;
}
