.section_home {
  background-image: url("coffee-girl.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: calc(50%, 50%);
  background-repeat: no-repeat;
  height: 90vh;
}
.home_title {
  text-align: center;
}
