/* home */
.section_home {
  position: relative;
  height: 90vh;
  background-color: black;
  display: flex;
  justify-content: center;
}
.section_home::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url("/coffee-girl.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: calc(50% + 0px) calc(10% + 0px);
  background-repeat: no-repeat;
  opacity: 0.4;
}
@media screen and (max-width: 768px) {
  .section_home::before {
    background-position: center;
  }
}
.home_container {
  display: flex;
  justify-content: center;
  color: #fff;
  flex-direction: column;
  position: relative;
  align-items: center;
  text-shadow: 2px 2px 5px brown;
  margin: 10px;
}
.loader {
  width: 90px;
  height: auto;
  object-fit: cover;
}
.home_title {
  font-size: 2.5em;
  word-wrap: break-word;
  word-break: break-all;

  @media screen and (max-width: 527px) {
    font-size: 2em;
  }

  @media screen and (max-width: 427px) {
    font-size: 1.8em;
  }

  @media screen and (max-width: 388px) {
    font-size: 1.5em;
  }
  @media screen and (max-width: 328px) {
    font-size: 1.3em;
  }
}
.home_info {
  font-size: 2.5em;
  margin-top: 20px;
  word-wrap: break-word;
  word-break: break-all;
  @media screen and (max-width: 527px) {
    font-size: 2em;
  }
  @media screen and (max-width: 427px) {
    font-size: 1.8em;
  }
}
.home_info::after {
  display: block;
  text-align: center;
  content: "like never before";
}
.menuBtnLink {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  background-color: #fff;
  padding: 8px;
  border-radius: 20px;
  margin-top: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}
.menuBtnLink:hover {
  transition: all 0.3s ease;
  color: #fff;
  background-color: darkred;
}
.custom_curve {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom_curve .svg_home {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 56px;
  transform: rotateY(180deg);
}

.custom_curve .shape_fill {
  fill: bisque;
}
/* home1 */
.section_home1 {
  position: relative;
  background-color: bisque;
}
.custom_curve1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  margin-top: -55px;
}

.custom_curve1 .svg_home1 {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 56px;
  transform: rotateY(180deg);
}

.custom_curve1 .shape_fill1 {
  fill: bisque;
}
