/* welcome container */
.welcome_container {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  @media screen and (max-width: 540px) {
    flex-direction: column;
  }
}
.welcome_info1 {
  margin: 10px;
}
.small_welcome {
  color: goldenrod;
  @media screen and (max-width: 540px) {
    text-align: center;
  }
}
.welcome_info2 {
  margin-top: 23px;
  @media screen and (max-width: 540px) {
    margin-top: 0px;
  }
}
/* pics container */
.layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 25px;
  justify-content: center;
  grid-row-gap: 25px;
  padding: 10px;
  @media screen and (max-width: 540px) {
    grid-template-columns: 1fr 1fr;
  }
}

.coffee_img1 {
  max-width: 100%;
  height: auto;
  grid-row: 1/3;
  grid-column: 1/3;
}

.coffee_img2,
.coffee_img3,
.coffee_img4,
.coffee_img5 {
  max-width: 100%;
  height: auto;
}
