.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #6f1d1b;
}
.headerInfo {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;
}
.headerInfo:hover {
  transform: translateY(-3px);
}
.header_title {
  color: #fff;
}
.coffee_icon {
  width: 60px;
  height: auto;
  object-fit: cover;
}
