.coffee_img {
  width: 80px;
  height: auto;
  padding: 10px;
  object-fit: cover;
}
.nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
.link_links {
  list-style-type: none;
  height: 100%;
  position: relative;
}
.link_links_signup {
  list-style-type: none;
}
.navLinkHome {
  color: #000;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  font-size: 23px;
}
.navLinkHomeDark {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  font-size: 23px;
}
.navLink {
  color: #000;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  border-radius: 12px;
  font-size: 18px;
}
.navLinkDark {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  font-size: 18px;
  border-radius: 12px;
}
.faBars {
  display: none;
  color: #fff;
  @media screen and (max-width: 880px) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 115%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
.nav_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  @media screen and (max-width: 880px) {
    display: none;
  }
}
.navBtnLink {
  display: flex;
  align-items: center;
  margin-right: 24px;
  @media screen and (max-width: 880px) {
    display: none;
  }
}
.btnLink {
  border-radius: 4px;
  background: #256ce1;
  padding: 10px 22px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
}
.btnLink:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #010606;
}
.toggleDark {
  padding: 10px;
  margin: 5px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
.cart_length {
  position: absolute;
  list-style-type: none;
  background-color: #fff;
  color: red;
  padding: 0px 5px;
  left: 53%;
  border-radius: 12px;
  bottom: 50%;
}
.order_length {
  position: absolute;
  list-style-type: none;
  background-color: #fff;
  color: red;
  padding: 0px 5px;
  left: 73%;
  border-radius: 12px;
  bottom: 50%;
}
