.sidebar {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #010606;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 1;
  transition: all 0.5s ease;
  display: none;
  z-index: 10;
  @media screen and (max-width: 971px) {
    display: flex;
    justify-content: center;
  }
}
.sidebar_nav {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.sidebar_ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  position: relative;
}
.side_link {
  list-style-type: none;
}
.sidebar_link {
  color: #fff;
  display: flex;
  text-decoration: none;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
  font-size: 27px;
  border-radius: 15px;
}
/* cart */
.cart_length {
  position: absolute;
  list-style-type: none;
  background-color: #fff;
  color: red;
  padding: 0px 5px;
  left: 68%;
  border-radius: 12px;
  bottom: 79%;
}
/* orders */
.order_length {
  position: absolute;
  list-style-type: none;
  background-color: #fff;
  color: red;
  padding: 0px 5px;
  left: 78%;
  border-radius: 12px;
  bottom: 65%;
}
/* orderedTables */
.ordered_tables_length {
  position: absolute;
  list-style-type: none;
  background-color: #fff;
  color: red;
  padding: 0px 4px;
  left: 78%;
  border-radius: 12px;
  bottom: 36%;
}
