.sidebar {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  /* top: 0; */
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.8;
  transition: all 0.5s ease;
}
.sidebar_title {
  color: #fff;
}
