.sidebar {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.8;
  transition: all 0.5s ease;
  display: none;
  z-index: 10;
  @media screen and (max-width: 880px) {
    display: flex;
    justify-content: center;
  }
}
.sidebar_nav {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.sidebar_ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}
.sidebar_link {
  color: #fff;
  display: flex;
  text-decoration: none;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
  font-size: 23px;
  border-radius: 15px;
}
.btnLink {
  border-radius: 4px;
  background: #256ce1;
  padding: 10px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-size: 25px;
  border-radius: 12px;
}
.btnLink:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #010606;
}
.cancelBtn {
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, 80%);
  cursor: pointer;
}
