.signup_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #a2d2ff;
  padding: 20px 20px;
  border-radius: 12px;
}
