.menu_section {
  background-color: bisque;
}
.coffee_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
}
.coffeeCupContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  margin: 10px;
  padding: 10px;
}
.menu_links_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_link_tab {
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
